body {
        font-family: sans-serif;
        width: 900px;
        border: 3px steelblue;
        black-shadow: black;
        text-align: center;
}
a{
        font-weight: bold;
}
header img{
        float: left;
        border-bottom: steelblue;
}
header h2{
        font-size: 250%;
        font-style: italics;
        color: steelblue;
        text-indent: 45px;
        text-shadow: 3px 3px 3px steelblue;
}
header h3{
        font-size: 150%;
        text-indent: 45px;
}

/* Style for the section */
section h1 {
        font-size: 160%;
}
section h2 {
        
        font-size: 130%;
}
section h3{
        color: maroon;
        font-size: 110%
}
section p{
        font-size: 100%;
}
section a {
        color: maroon;
        text-decoration: none;
}
section a:link, section a: visited {
        color: maroon;
        }
section a:hover,section a: focus{
        color: steelblue;
}        
        

/* The style for the side bar*/
aside h2{
        font-size: 130%;
}
aside ul{
        line-height:1.5;
}
aside a:link, aside a:visited{
        color:steelblue;
}
aside a:hover, aside a: focus{
        color: maroon;
}
footer {
        background-color: steelblue;
}

/* Style for the Footer*/
        footer {
                font-size: 0.8em;
                text-align: center;
        }
        
